body {margin:0px;
	  padding:0px;
	  }
h1 {text-align:center;
	   font-size:40px;}
#year,#month,#date {font-size: 25px;
					background-color:#d1e0e0;
					color:#3d5c5c;}

#btn1,#btn2{ padding:3px;
			 width:49%;
			border: 3px solid black;
			border-radius:3px;
			text-align:center;
			font-size:20px;
			background-color:#85adad;
			color:#f2f2f2;
			box-shadow: 6px 6px 6px #cccccc;}

/*font-family: 'Orbitron', sans-serif;
*/
.num {text-align:center;
	line-height:150px;
	font-family: 'Orbitron', sans-serif;
	font-size:3vw;
	border:5px solid black;
	height:150px;}

.desc {text-align:center;
	font-size:1.6vw;
	border:5px solid black;
	border-bottom:none;}

.cont2 { padding-top:20px; }
.cont4 {padding-top:30px;}